/* Write your global CSS here */
/* Note that you don't need to do Normalization as react-bootstrap does it for us */

.App {
  height: 100vh;
}

.CarouselImage{
  height: 85vh !important;
}

.AboutImage img {
  width: 500px;
  height: 350px;
  opacity: 0.5;
  border-radius: 20px;

}

.AboutText:hover h3 p{
  opacity: 1;
  color: purple;
  text-size-adjust: 50%;    
}

.carousel-control-next-icon{
  /* display: block; */
  color:  blue;
}
.carousel-control-next  {
  display: none !important;
}
.carousel-control-prev{
  display: none !important;
}

.card {
  border-style: none;
   text-decoration: none;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  align-items: center;
}

.card-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #ef8614;
}
.ProductDetail{
  font-family: Montserrat;
  font-weight: bold;
  /* font-size: 16px; */
  color: #ef8614;
}

.figure {
  display: flex;
  align-items: stretch;
  /* flex-wrap: wrap; */
}

.figure-img {
  margin-right: 5rem;
}

.mb-2{
  margin-top: 20%;
}
.deatilHeader{
  padding-bottom: 4%;
}

.Figure.Caption {
  padding-top: 4%;
}

.card {
  opacity: 0.6;
  transition: 0.4s;
}
.card:hover{
  opacity: 1;
  
}
.card:hover h4{
  opacity: 1;
  color: #FF6600;
  text-size-adjust: 50%;    
}
.hover-zoom:hover {
  transform: scale(1.25);
}


/* __________________ products Detail__________________ */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(186, 216, 125);
  font-size: 0.8rem;
  font-family: 'Work Sans'
} */

.carddetail {
  max-width: 1000px;
  width: 100%;
  padding: 4rem;
  background-color: rgb(46, 45, 45);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:768px) {
  .carddetail {
      width: 100%;
      padding: 1.5rem
  }
}

.row {
  margin: 0
}

.path {
  color: grey;
  margin-bottom: 1rem
}

.path a {
  color: #ffffff
}

.info {
  padding: 6vh 0vh
}

@media(max-width:768px) {
  .info {
      padding: 0
  }
}

.checked {
  color: rgb(255, 217, 0);
  margin-right: 1vh
}

.fa-star-half-full {
  color: rgb(255, 217, 0)
}

.imgDetail {
  height: fit-content;
  width: 75%;
  padding: 1rem
}

@media(max-width:768px) {
  img {
      padding: 2.5rem 0
  }
}

.title .col {
  padding: 0
}

.fa-heart-o {
  font-size: 2rem;
  color: #ffffffaf;
  font-weight: lighter
}

#reviews {
  margin-left: 3vh;
  color: grey
}

.price {
  margin-top: 2rem
}

label.radio span {
  padding: 1vh 4vh;
  background-color: rgb(54, 54, 54);
  color: grey;
  display: inline-block;
  margin-right: 2vh
}

label.radio input:checked+span {
  border: 1px solid white;
  padding: 1vh 4vh;
  background-color: rgb(54, 54, 54);
  margin-right: 2vh;
  color: #ffffff;
  display: inline-block
}

.carousel-control-prev {
  width: unset
}

.carousel-control-next {
  left: 8vh;
  right: unset;
  width: unset
}

.lower {
  margin-top: 3rem
}

.lower i {
  padding: 2.5vh;
  margin-right: 1vh;
  color: grey;
  border: 1px solid rgb(85, 85, 85)
}

.lower .col {
  padding: 0
}

@media(max-width:768px) {
  .lower i {
      padding: 2vh;
      margin-right: 1vh;
      color: grey;
      border: 1px solid rgb(85, 85, 85)
  }
}

.btn {
  /* background-color: transparent;
  border-color: rgba(186, 216, 125, 0.863);
  color: rgba(186, 216, 125, 0.863); */
  padding: 1.8vh 4.5vh;
  height: fit-content;
  border-radius: 3px
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.btn:hover {
  color: white
}

@media(max-width:768px) {
  .btn {
      background-color: transparent;
      border-color: rgba(186, 216, 125, 0.863);
      color: rgba(186, 216, 125, 0.863);
      padding: 1vh;
      font-size: 0.9rem;
      height: fit-content;
      border-radius: 3px
  }
}

a {
  color: unset
}

a:hover {
  color: unset;
  text-decoration: none
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio {
  cursor: pointer
}

/* ____________________ cart _____________ */

.figureCap h3{
  margin-top: 5% !important;
  margin-right: 5% !important;

}

.shoppingsection{
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}


.title {
  margin-bottom: 5vh
}


@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}

/* img {
  width: 3.5rem
}
 */

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}


select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}


.removebtn:hover{
  /* width: 10% !important; */
  background-color: #db2209;
}
.inc:hover{
  /* width: 10% !important; */
  transform: scale(3);
  color: #db2209 !important;

}
.dec:hover{
  /* width: 10% !important; */
  transform: scale(3);
  color: #db2209 !important;
}
.ITEMS{
  margin-top: 10% !important;

}
.SHIPPING{
  margin-top: 10% !important;
}

.TOTAL{
  margin-top: 20% !important;
}
.CHECKOUT{
  /* background-color: #db2209 !important; */
  margin-top: 20% !important;
}


#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}


/* ________________sidebar_________________ */
/* 
body{margin-top:20px;
  background:#f1f2f7;
  }
   */
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
  }
  
  .panel-heading {
      border-color:#eff2f7 ;
      font-size: 16px;
      font-weight: 300;
  }
  
  .panel-title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  
  /*product list*/
  
  .prod-cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  
  .prod-cat li a {
      color: #3b3b3b;
  }
  
  .prod-cat li ul {
      margin-left: 30px;
  }
  
  .prod-cat li ul li a{
      border-bottom:none;
  }
  .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
      background: none;
      color: #ff7261;
  }
  
  .pro-lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro-sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro-page-list {
      margin: 5px 0 0 0;
  }
  
  .product-list img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product-list .pro-img-box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro-title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
  }
  
  .product-list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro-img-details {
      margin-left: -15px;
  }
  
  .pro-img-details img {
      width: 100%;
  }
  
  .pro-d-title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
      color:#fc5959 ;
  }
  
  .pro-price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount-old {
      text-decoration: line-through;
  }
  
  .quantity {
      width: 120px;
  }
  
  .pro-img-list {
      margin: 10px 0 0 -15px;
      width: 100%;
      display: inline-block;
  }
  
  .pro-img-list a {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .pro-d-head {
      font-size: 18px;
      font-weight: 300;
  }
  .formControl1{
    -webkit-appearance: menulist-button; 
    width: 231px;
     position: absolute; 
     opacity: 0;
      height: 34px;
       font-size: 12px;
  }
  .formControl2{
    display: inline-block;
  }
  .formControl3{
   width: 209px;
    display: inline-block;

  }